<div class="container">
	<h3>Registrations</h3>

	<table class='table table-striped table-bordered' id="rego-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Post Code</th>
				<th>Age</th>
				<th>Device</th>
				<% if (session.authenticated && session.User.admin) { %>
					<th></th>
				<% } %>
			</tr>
		</thead>

		<tbody>
			<% _.each(registers, function(register) { %>
				<tr data-id="<%= register.id %>" data-model="register">
					<td><%= register.id %></td>
					<td><%= register.first_name %></td>
					<td><%= register.last_name %></td>
					<td><%= register.email %></td>
					<td><%= register.phone %></td>
					<td><%= register.post_code %></td>
					<td><%= register.age %></td>
					<% if (register.android && register.iphone) { %>
						<td>Both</td>
					<% } %>
					<% if (!register.android && register.iphone) { %>
						<td>iPhone</td>
					<% } %>
					<% if (register.android && !register.iphone) { %>
						<td>Android</td>
					<% } %>
					<% if (!register.android && !register.iphone) { %>
						<td>Other</td>
					<% } %>
					<% if (session.authenticated && session.User.admin) { %>
						<td><form action="/register/destroy/<%= register.id %>" method="POST">
							<input type="hidden" name="_method" value="delete"/>
							<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
							<input type="hidden" name="_csrf" value="<%= _csrf %>" />
						</form></td>
					<% } %>
				</tr>
			<% }) %>
		</tbody>
	</table>

</div>